*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #333;
}

.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.center-container{
  height: 500px;
  width: 350px;
}
.app-heading{
  padding: 4px;
  color: white;
}
.input-box-todo{
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
.add-btn{
  border-radius: 50px;
  background-color: rgb(63, 63, 204);
  color: white;
  padding: 10px;
  border: none;
  margin-left: 5px;
  font-size: 18px;
  
}